
 * {
    box-sizing: border-box;
    user-select: none;
  }

  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #ffffff;
  }

  body {
    margin: 0;
  }

 

  
  .fall{
    position: absolute;
    top: 5px;
    font-size: 40px; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .result{
    position: absolute;
    bottom: 5px;
    font-size: 30px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .load{
    position: absolute;
    font-size: 30px;
    color: black;
    width: 100%;
    height: 100%;
    line-height: 25;
    background-color: white;
    text-align: center;
    z-index: 200;
  }

.lds-spinner {
  color: #000;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  .hidden {
    visibility: hidden;
  } 

  .show {
    visibility: visible;
  }

  #qr-auth-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }  
  #draw-canvas{
    position: relative;
    left:0px;
    top: 0px;
  }
  #redPointCanvas{
    position: absolute;
    left:0px;
    top: 0px;

  }

  .video-container {
    position: absolute;
    top: 20%
   }
   #pose-video{
    transform: scaleX(-1);
    top:0;
    left: 0;
    object-fit: cover;
   }

  #pose-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  
  .canv-btn{
    position: absolute;
    z-index: 100;
  }

  .gradient-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    color: black;
    background-color: white;
    padding: 10px 0;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    transition: all 0.2s;
  }
  .gradient-button:hover{
    background-color: rgb(199, 199, 199);
  }
 
  .gradient-button:hover:before, .gradient-button:hover:after {
    transform: translateX(0);
  }
  #inp{
    display: inline-block;
    background-color: white;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;

  }

  .camera, .first, .canv{
    text-align: center;
  }

  label{
    color: black;
    font: 1rem 'Fira Sans', sans-serif;
  }
  #sensComment{

    width: 50px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;

  }